<html>
<head>
    <title>Health Insurance</title>
</head>

<body>
    <link rel = "stylesheet" href = "home-ins.component.css">
    <div class="side-menu">
        <div class="brand-name">
            <h1>Home Insurance</h1>
        </div>
        <ul>
            <li><span></span> </li>            
        </ul>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="user">
                    <a routerLink="/home" routerLinkActive="active" class="btn">Home</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="image">
                <img src="assets\home-ins.jpg" alt="">
            </div>
            <div class="cards">
                <div class="card">
                    <div class="user">
                        <img src="assets/Home.png" alt="">
                    </div>
                    <div class ="user1">
                        <a routerLink="/homeIns1" routerLinkActive="active" class="btn">Home Insurance 1</a>
                    </div>
                </div>
                <div class="card">
                    <div class="user">
                        <img src="assets/Home.png" alt="">
                    </div>
                    <div class ="user1">
                        <a routerLink="/homeIns2" routerLinkActive="active" class="btn">Home Insurance 2</a>
                    </div>
                </div>
                <div class="card">
                    <div class="user">
                        <img src="assets/Home.png" alt="">
                    </div>
                    <div class ="user1">
                        <a routerLink="/homeIns3" routerLinkActive="active" class="btn">Home Insurance 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>