<html>
<head>
    <title>Admin Panel</title>
</head>

<body>
    <link rel = "stylesheet" href = "health1.component.css">
    <div class="side-menu">
        <div class="brand-name">
            <h1>Health Insurance</h1>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class ="user1">
                        <a routerLink="/health1" routerLinkActive="active" class="btn">Health Insurance 1</a>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class ="user1">
                        <a routerLink="/health2" routerLinkActive="active" class="btn">Health Insurance 2</a>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class ="user1">
                        <a routerLink="/health3" routerLinkActive="active" class="btn">Health Insurance 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="user">
                    <a routerLink="/home" routerLinkActive="active" class="btn1">Home</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                     <ul>
                       <li> Get ₹5 Lakh Health Cover @ ₹300/Month*</li>
                       <li> Get up to 25% Online discount**</li><br>
                       <li> Get ₹5 Lakh Health Cover @ ₹300/Month*</li>
                        <li>30 minutes claim support*</li>
                        <li>Tax Benefits upto ₹ 75,000 under Sec. 80D</li>
                       <li> Instant Purchase; Immediate Receipt</li>
                       <li> Restoration Benefit on Sum Insured</li>
                       <li> No Room Rent Capping</li>
                        <li> Pre-hospitalization and Post hospitalization cover</li>
                        <li>10,000+ hospitals for cashless treatment</li></ul>
                </div>
            </div>
            <div class="cardsPay">
                <div class="cardPay">
                    <a routerLink="/quote" routerLinkActive="active">Check Quote</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>