<html>
<head>
    <title>Two Wheeler Insurance</title>
</head>

<body>
    <link rel = "stylesheet" href = "quote1.component.css">
    <div class="side-menu">
        <div class="brand-name">
            <p>Price Quote</p>
        </div>
        <ul>
            <li><span></span> </li>            
        </ul>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="user">
                    <a routerLink="/home" routerLinkActive="active" class="btn">Home</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
					<div class = "box">
                        <p>Price Quote</p>
                    </div>
                    <div class = "table-row">
                        <div class = "table-cell box1">
                            <p>Premium</p>
                        </div>
                        <div class = "table-cell box2">
                            <p>₹20,000</p>
                        </div>
                    </div>
                    <div class = "table-row">
                        <div class = "table-cell box1">
                            <p>GST(18%)</p>
                        </div>
                        <div class = "table-cell box2">
                            <p>₹3,600</p>
                        </div>
                    </div>
                    <div class = "table-row">
                        <div class = "table-cell box1">
                            <p>Instant Cover</p>
                        </div>
                        <div class = "table-cell box2">
                            <p>₹2,000</p>
                        </div>
                    </div>
                    <div class = "table-row">
                        <div class = "table-cell box1">
                            <p>Total Premium</p>
                        </div>
                        <div class = "table-cell box2">
                            <p>₹25,600</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class = "btn">
                    <a routerLink="/payment" routerLinkActive="active" class="btn">Proceed to Payment</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>