<html>
<head>
    <title>Home Insurance</title>
</head>

<body>
    <link rel = "stylesheet" href = "home-ins3.component.css">
    <div class="side-menu">
        <div class="brand-name">
            <h1>Home Insurance</h1>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class ="user1">
                        <a routerLink="/homeIns1" routerLinkActive="active" class="btn">Home Insurance 1</a>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class ="user1">
                        <a routerLink="/homeIns2" routerLinkActive="active" class="btn">Home Insurance 2</a>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class ="user1">
                        <a routerLink="/homeIns3" routerLinkActive="active" class="btn">Home Insurance 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="user">
                    <a routerLink="/home" routerLinkActive="active" class="btn1">Home</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <ul>
                        <li>Insurance policy of 2,00,00</li><br>
                        <li>Covers damages to your Home</li><br>
                        <li>Accidents - Covers repair/replacement costs if your home is damaged in an accident</li><br>
                        <li>Fire - Covers the damages caused due to self-ignition, explosion or lightning</li><br>
                        <li>93% claim settlement ratio monthly pay 5453/-</li><br>
                    </ul>
                </div>
            </div>
            <div class="cardsPay">
                <div class="cardPay">
                    <a routerLink="/quote2" routerLinkActive="active">Check Quote</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>