<html>
<head>
    <title>Admin Panel</title>
</head>

<body>
    <link rel = "stylesheet" href = "bike2.component.css">
    <div class="side-menu">
        <div class="brand-name">
            <h1>Two Wheeler Insurance</h1>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class ="user1">
                        <a routerLink="/bike1" routerLinkActive="active" class="btn">Two Wheeler Insurance 1</a>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class ="user1">
                        <a routerLink="/bike2" routerLinkActive="active" class="btn">Two Wheeler Insurance 2</a>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class ="user1">
                        <a routerLink="/bike3" routerLinkActive="active" class="btn">Two Wheeler Insurance 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="user">
                    <a routerLink="/home" routerLinkActive="active" class="btn">Home</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <ul>
                        <li>Insurance policy of 50000</li><br>
                        <li>Covers damages to your bike</li><br>
                        <li>Accidents - Covers repair/replacement costs if your bike is damaged in an accident</li><br>
                        <li>Fire - Covers the damages caused due to self-ignition, explosion or lightning</li><br>
                        <li>Theft - If your bike is stolen, we will pay you the value of your bike as per your policy</li><br>
                        <li>Third-party injury/death - We provide coverage for death/ injuries caused to individuals outside of your vehicle in accidents involving your bike.</li><br>
                        <li>Cashless claims at 5400+ garages</li><br>
                        <li>93% claim settlement ratio monthly pay 1,254/-</li><br>
                        <Li></Li>
                    </ul>
                </div>
            </div>
            <div class="cardsPay">
                <div class="cardPay">
                    <a routerLink="/quote1" routerLinkActive="active">Check Quote</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>