<html>
<head>
    <title>Admin Panel</title>
</head>

<body>
    <link rel = "stylesheet" href = "health2.component.css">
    <div class="side-menu">
        <div class="brand-name">
            <h1>Health Insurance</h1>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class ="user1">
                        <a routerLink="/health1" routerLinkActive="active" class="btn">Health Insurance 1</a>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class ="user1">
                        <a routerLink="/health2" routerLinkActive="active" class="btn">Health Insurance 2</a>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class ="user1">
                        <a routerLink="/health3" routerLinkActive="active" class="btn">Health Insurance 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="user">
                    <a routerLink="/home" routerLinkActive="active" class="btn1">Home</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <p>10 Lakh Health Insurance
                        Health cover starting at Rs. 15/day</p>
                </div>
            </div>
            <div class="cardsPay">
                <div class="cardPay">
                    <a routerLink="/quote1" routerLinkActive="active">Check Quote</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>