<html>
<head>
	<title>Registration Form</title>
    
</head>

<link rel = "stylesheet" href = "payment.component.css">

<div class="side-menu">
	<div class="brand-name">
		<p>Take a New Positive Step Today</p>
	</div>
</div>
<body>
	<div class="container">
        <div class="header">
            <div class="nav">
                <div class="user">
					        <p>Payment Confirmation</p>
                </div>
            </div>
        </div>
        <div class="content">
          <div class="cards">
              <div class="card">
                <p>Policy Shop Insurance Portal</p>
                <button class="btn" (click) = "paynow()">Proceed to Payment Now</button>
              </div>
          </div>
        </div>
		</div>
</body>
</html>