<html>
<head>
    <title>Admin Panel</title>
</head>

<body>
    <link rel = "stylesheet" href = "health3.component.css">
    <div class="side-menu">
        <div class="brand-name">
            <h1>Health Insurance</h1>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class ="user1">
                        <a routerLink="/health1" routerLinkActive="active" class="btn">Health Insurance 1</a>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class ="user1">
                        <a routerLink="/health2" routerLinkActive="active" class="btn">Health Insurance 2</a>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class ="">
                        <a routerLink="/health3" routerLinkActive="active" class="btn">Health Insurance 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="user">
                    <a routerLink="/home" routerLinkActive="active" class="btn1">Home</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                <li>A 20 Lakh health insurance policy is a policy in which the policyholder get a sum insured of ₹20 Lakh. So, this policy will cover medical expenses up to ₹20 Lakh for the policyholder. A ₹ 20 Lakh health insurance policy is suitable for you and your family as it protects against the financial burden of hospital bills incurred as a result of any illness, or other unforeseen events. A health insurance policy, as well as the amount covered, can support you in dealing with such an sudden event without having to worry about treatment costs.</li>
                </div>
            </div>
            <div class="cardsPay">
                <div class="cardPay">
                    <a routerLink="/quote2" routerLinkActive="active">Check Quote</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>