<html>
<head>
    <title>Home</title>
</head>

<body>
   
    <link rel = "stylesheet" href = "home.component.css">
    <div class="side-menu"><br><p>FAQ's :</p><br>

        <p>What is Insurance?</p><br>
        <p>1.Insurance is a legal agreement between two parties i.e. the insurance company (insurer) and the individual (insured).</p><br>
        <p>2.In this, the insurance company promises to make good the losses of the insured on happening of the insured contingency. </p><br>
        <p>3.The contingency is the event which causes a loss.</p>
    </div>
    <div class="container">
        <div class="summa">
        <img src="assets/natalya-zaritskaya-SIOdjcYotms-unsplash.jpg" alt="" width="1120" height="700">
        </div>
        <div class="firsttext">
            <h2 style="margin-left: 10%;margin-top: -10.5%;color:rgb(0, 0, 0);">Take New Positive Step Today</h2>
        </div>
        <div class="sectext">
            <h2 style="margin-left: 60%;margin-top: -3.5%;color:rgb(0, 0, 0);">Ensure Your Future Dreams</h2>
        </div>
        <div class="titlecard">
            <!-- <h2 style="margin-left: 30%;margin-top: 3.5%;color:#111;">POLICY</h2> -->
            <br>
            <br>
            <h2 style="color:#111">POLICY</h2>
            <hr style="height:2px;width: 50%;margin-left: 25%; color:rgb(0, 0, 0);background-color:rgb(0, 0, 0)">
        </div>
        <div class="header">
            <div class="nav">
                <div class="brand-name">
                    <h1 style="color:rgb(97, 71, 198);">Policy Shop Insurance Portal</h1>
                </div>
                <div class="user">
                    <a routerLink="/register" routerLinkActive="active" class="btn">Register</a>
                    </div>
                    <div class="log">
                    <a routerLink="/login" routerLinkActive="active" class="btn">Login</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class="user">
                        <img src="assets/Health.png" alt="">
                    </div>
                    <div class ="user1">
                        <a routerLink="/health" routerLinkActive="active" class="btn">Health Insurance</a>
                    </div>
                </div>
                <div class="card">
                    <div class="user">
                        <img src="assets/Bike.png" alt="">
                    </div>
                    <div class ="user1">
                        <a routerLink="/bike" routerLinkActive="active" class="btn">Bike Insurance</a>
                    </div>
                </div>
                <div class="card">
                    <div class="user">
                        <img src="assets/Car.png" alt="">
                    </div>
                    <div class ="user1">
                        <a routerLink="/car" routerLinkActive="active" class="btn">Car Insurance</a>
                    </div>
                </div>
                <div class="card">
                    <div class="user">
                        <img src="assets/Home.png" alt="">
                    </div>
                    <div class ="user1">
                        <a routerLink="/homeIns" routerLinkActive="active" class="btn">Home Insurance</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>